$cotainer_width: 50vw;
$light: #FEF5ED;
$middleGreen: hsl(110, 17%, 71%);
$darkGrrenGray: #5f6d5f;
$darkGreen: #99A799;
$accept: #ADC2A9;
$orange :#CC7351;
$paleGreen: #dae0d2;

.errorMessageContainer{
    width: 50vw;
    height: 50vh;
    margin: auto;
    vertical-align: middle;
    border-top: solid medium $darkGrrenGray; 
    border-bottom: solid medium $darkGrrenGray;
    background-color: rgb(211, 228, 205, 0.4);
    padding: 5%;
    padding-left: 10%;
    padding-top: 10%;
}

a{
    text-decoration: none;
    color: $orange;
    font-size: large;

}

.errorContainer{
    padding-top: 15%;
    background-color: white;
    width: 100wv;
    height: 100vh;
}
